body, h1, form, label, input, textarea, button {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  box-sizing: border-box;
}

body {

  background-image: url('drawing_leaves.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;

  /* public/styles.css */

}

.container {
  width: 50%; /* Adjust the proportion as needed */
  height: 75%;
  padding: 10px;
  background-color: #ffffffce;
  border-radius: 8px;
  border-color: #05520b;
}

h1 {
  color: #05520b;
}

form {
  display: grid;
  gap: 10px;
}

label {
  font-weight: bold;
}

input {
  resize: none;
  width: 100%;
  padding: 8px;
  border: 1px solid #05520b;
  border-radius: 4px;
}

textarea {
  resize: none;
  align-items: bottom;
  width: 100%;
  height: calc(75vh - 275px);
  padding: 8px;
  border: 1px solid #05520b;
  border-radius: 4px;
}

button {
  background-color:#05520b;
  align-items: bottom;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}